.container{
    width: 100%;
    height: 100%;
    background-color:#cbcbcb;
}

.color-picker-container{
    text-align: center;
}

.board-container{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 1%;
    background: white;
}